{% extends 'app/baseCategoriasLogin.html' %}

{% load static %}

{% block fondoCarru %}
    {% static 'app/img/PERROS/6.jpg'%}
{% endblock %}

{% block contenido %}
          <div class="col-sm-12">           
            <div class="pick">
              <div class="row">
                <div class="col-sm-3"></div>        
                <div class="col-sm-6 text-light">
                  <div class="card bg-dark">
                    <div class="card-body">
                      <form action="" method="POST" enctype="multipart/form-data">
                        <!--es un error de seguridad-->
                        {% csrf_token %}
                        <table>
                          {{form}}
                        </table>
                        <br>
                        <input type="submit" class="btn btn-success" value="Modificar">
                        <a href="{% url 'listarProd'  %}" class="btn btn-info">Volver</a>
                      </form>
                      <br>
                      {% if messages %}
                        {% for msj in messages %}
                          <script>
                            Swal.fire({
                                title: 'Guardado!',
                                text: '{{ msj }}',
                                icon: 'success',
                                showConfirmButton: false,
                                timer: 2000
                            });
                          </script>
                        {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                  
                </div>
                <div class="col-sm-3"></div>  
              </div>

            </div>  
          </div>
{% endblock %}