{% extends 'app/baseLogin.html' %}

{% load static %}

{% block contenido %}
<div class="container-fluid ">
        <!--CARRUSEL-->
        <div class="row" id="row-carrusel">
            <div class="col-sm-12 pb-1">
                <div id="demo" class="carousel slide pt-5" data-ride="carousel">
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>
                    
                    <!-- The slideshow -->
                    <div class="carousel-inner text-light ">
                        <div class="carousel-item h-100 active">
                            <img alt="First slide" class="d-block w-100" src="{% static 'app/img/Carrusel/APORTA_NO_COMPRES.png' %}">
                        </div>
                        <div class="carousel-item h-100">
                            <img alt="Second slide" class="d-block w-100" src="{% static 'app/img/Carrusel/Carru1.png' %}">
                        </div>
                        <div class="carousel-item h-100">
                            <img alt="Fourth slide" class="d-block w-100" src="{% static 'app/img/Carrusel/carru1b.png' %}">
                        </div>
                    </div>
                    
                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon rounded-circle"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>    
            </div>
        </div>
        <br>
        <br>
        <br>
        <!--CATEGORIAS-->
        <div class="row fondo-claro2 border border-dark rounded-sm py-5" id="row-categorias">

            <div class="col-sm-12">
                
                <div class="card-deck">
                <div class="card card-border" style="width:200px">
                    <a href="{% url 'perritoLog' %}">
                    <img class="card-img" src="{% static 'app/img/categorias/cate1.png'%}" alt="Card image">
                    </a>
                </div>
                <div class="card card-border" style="width:200px">
                    <a href="{% url 'gatitoLog' %}">
                        <img class="card-img" src="{% static 'app/img/categorias/cate2.png'%}" alt="Card image">
                    </a>
                </div>
                <div class="card card-border" style="width:200px">
                    <a href="{% url 'accesorioLog' %}">
                        <img class="card-img" src="{% static 'app/img/categorias/cate3.png'%}" alt="Card image"> 
                    </a>
                </div>
                </div>  
            </div>
        </div>
</div>
{% endblock %}