{% extends 'app/baseCrudUsers.html' %}

{% load static %}

{% block navbar %}
<li class="nav-item active">
    <a class="nav-link text-light" href="{% url 'indexLogin'%}">INICIO</a>
</li>
<li class="nav-item">
    <button type="button" style="background-color: maroon;" class="nav-link btn text-light font-weight-bold" data-toggle="modal" data-target="#cierre">Cerrar sesión</button>
    <!-- The Modal -->
    <div class="modal" id="cierre">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title text-dark">¿Está seguro de cerrar su sesión?</h4>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <a href="{% url 'index' %}" class="btn btn-danger btn-sm">Cerrar sesión</a>
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</li>
{% endblock %}

{% block contenido %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-condensed table-striped bg-light text-dark">
                    <tr>
                        <td>RUT</td>
                        <td>NOMBRE</td>
                        <td>EDAD</td>
                        <td>COMUNA</td>
                        <td>REGION</td>
                        <td>DIRECCION</td>
                        <td>CORREO</td>
                        <td>TELEFONO</td>
                        <td>IMAGEN</td>
                        <td>OPCIÓN</td>
                    </tr>
                    {% for aux in listaUsuarios %}
                    <tr>
                        <td>{{aux.run}}-{{aux.dv}}</td>
                        <td>{{aux.nombre}} {{aux.apellido}}</td>
                        <td>{{aux.edad}}</td>
                        <td>{{aux.comuna}}</td>
                        <td>{{aux.region}}</td>
                        <td>{{aux.direccion}}</td>
                        <td>{{aux.correo}}</td>
                        <td>{{aux.telefono}}</td>
                        {% if aux.imagen %}
                            <td><img src="{{ aux.imagen.url }}" alt="imagen" width="80"></td>
                        {% endif %}
                        <td>
                            <a href="#" class="btn btn-success btn-sm">MODIFICAR</a>
                            <a href="{% url 'eliminarUsuario' aux.run %}" class="btn btn-danger btn-sm">ELIMINAR</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}