{% extends 'app/basePerfil.html'%}

{% load static %}

{% block contenido %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="{% static 'app/img/logo-duoc.svg'%}" width="200" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 color-izq">
                <div class="row perfil">
                    <div class="col-sm-12 mt-3 d-flex justify-content-center">
                        <img class="avatar" src="{% static 'app/img/dog-favicon.png' %}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="nav nav-pills flex-column mt-1">
                            <li>
                                <p class="text-white text-center my-auto">Bienvenido: {{ user.username }}</p>
                            </li>
                            <hr>
                            <li class="nav-item mt-1">
                                <a class="nav-link activo text-blanco" href="{% url 'perfil' %}"><i class="fa fa-home "></i> Perfil</a>
                            </li>
                            <li class="nav-item mt-1"> 
                                <a class="nav-link text-blanco" href="{% url 'perfilEdit' %}"><i class="fa-solid fa-pen"></i> Editar Perfil</a>
                            </li>
                            <li class="nav-item mt-1"> 
                                <a class="nav-link text-blanco" href="{% url 'perfilHistorial' %}"><i class="fa-solid fa-pen"></i> Volver a historial</a>
                            </li>
                            <hr>
                            <li class="nav-item mt-1">
                                <a class="nav-link text-blanco" href="{% url 'index' %}"><i class="fa fa-right-from-bracket"></i> Cerrar Sesión</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-10 fondo-madera">
                <br>
                <br>
                <br>
                <br>
                <div class="card fondo-madera-02 mx-5 px-5" style="box-shadow: 0 0 10px black, 0 0 40px black, 0 0 80px black;">

                    <div class="card-body">
                        <h3 class="card-text text-light">Seguimiento orden nº: {{ historial.orden }}.</h3>

                                {% if historial.codigo_seg.codigo_seg == 1 %}
                                <br>
                                <div class="d-flex justify-content-start">
                                    <h4 class="text-light">Estado: </h4><h4 class="text-warning">{{ historial.codigo_seg }} </h4>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated text-dark" style="width:25%">25%</div>
                                </div>
                                <br>
                                <br>
                                <h5 class="text-light">Hola, tu orden de compra ha sido recibida y está a la espera de una validación.</h5>
                                <h5 class="text-light">Una vez esta sea validada, pasará al proceso de preparación.</h5>
                                {% endif %}
                                {% if historial.codigo_seg.codigo_seg == 2 %}
                                <br>
                                <div class="d-flex justify-content-start">
                                    <h4 class="text-light">Estado: </h4><h4 class="text-primary">{{ historial.codigo_seg }} </h4>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:50%">50%</div>
                                </div>
                                <br>
                                <br>
                                <h5 class="text-light">Hola, tu orden de compra ha sido validada, dentro de poco pasará a reparto.</h5>
                                <h5 class="text-light">Estamos preparando tus productos.</h5>
                                {% endif %}
                                {% if historial.codigo_seg.codigo_seg == 3 %}
                                <br>
                                <div class="d-flex justify-content-start">
                                    <h4 class="text-light">Estado: </h4><h4 class="text-info">{{ historial.codigo_seg }} </h4>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:75%">75%</div>
                                </div>
                                <br>
                                <br>
                                <h5 class="text-light">Hola, tu orden de compra ha pasado a reparto.</h5>
                                <h5 class="text-light">¡Ya falta poco para que tengas tus productos!</h5>
                                {% endif %}
                                {% if historial.codigo_seg.codigo_seg == 4 %}
                                <br>
                                <div class="d-flex justify-content-start">
                                    <h4 class="text-light">Estado: </h4><h4 class="text-success">{{ historial.codigo_seg }} </h4>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%">100%</div>
                                </div>
                                <br>
                                <br>
                                <h5 class="text-light">Hola, tu orden de compra ha sido entregada.</h5>
                                <h5 class="text-light">¡Disfruta de tus productos!</h5>
                                {% endif %}
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}